/******************** General************************/

.main-color {
  color: #e65f78 !important;
}

.main-background-color {
  background-color: #e65f78 !important;
}

body {
  font-family: "Nunito", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
}

.section-subtitle {
  max-width: 500px !important;
}

/****************Home****************/
.home {
  background-image: url(../images/header-bg.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}
.nav-link {
  margin: 0 10px;
  transition: all 0.4s;
  color: black;
}
.nav-link:hover {
  color: #e65f78;
}
.home-info {
  background-color: rgba(0, 0, 0, 0.7);
}
.home-content button {
  border: 2px solid white;
  color: white;
  padding: 10px 15px;
}
.home-content p {
  line-height: 25px;
}
.home-content button:hover {
  color: black !important;
  background-color: white !important;
}
.settingicon {
  top: 20%;
  left: 0;
  border: 3px;
  border-radius: 5px;
  background-color: #2b2424;
  padding: 7px 7px;
  color: white;
  cursor: pointer;
}
.upicon {
  bottom: 5px;
  right: 20px;
  border: 3px;
  border-radius: 5px;
  background-color: #e65f78 !important;
  padding: 5px 8px;
  z-index: 9999;
}
.downicon {
  position: absolute;
  bottom: 5%;
  height: 45px;
  width: 25px;
  border: 2px solid white;
  border-radius: 15px;
  left: 50%;
  animation: scroll 3s ease-in-out infinite;
}
.downicon::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  height: 10px;
  width: 3px;
  background-color: white;
}

@keyframes scroll {
  0% {
    bottom: 50px;
  }

  10% {
    bottom: 100px;
  }

  20% {
    bottom: 50px;
  }

  30% {
    bottom: 80px;
  }

  40% {
    bottom: 50px;
  }

  50% {
    bottom: 70px;
  }

  60% {
    bottom: 50px;
  }

  70% {
    bottom: 60px;
  }

  80% {
    bottom: 50px;
  }

  90% {
    bottom: 50px;
  }

  100% {
    bottom: 50px;
  }
}

h1::after {
  content: "|";
  animation: typing 10s linear infinite;
}

@keyframes typing {
  0% {
    content: "A|";
  }

  1% {
    content: "A |";
  }

  2% {
    content: "A G|";
  }

  3% {
    content: "A Gr|";
  }

  4% {
    content: "A Gra|";
  }

  5% {
    content: "A Grap|";
  }

  6% {
    content: "A Graph|";
  }

  7% {
    content: "A Graphi|";
  }

  8% {
    content: "A Graphic|";
  }

  9% {
    content: "A Graphic |";
  }

  10% {
    content: "A Graphic D|";
  }

  11% {
    content: "A Graphic De|";
  }

  13% {
    content: "A Graphic Des|";
  }

  14% {
    content: "A Graphic Desi|";
  }

  15% {
    content: "A Graphic Desig|";
  }

  16% {
    content: "A Graphic Design|";
  }

  17% {
    content: "A Graphic Designe|";
  }

  18% {
    content: "A Graphic Designer|";
  }

  19% {
    content: "A Graphic Designer.|";
  }

  20% {
    content: "A Graphic Designer.|";
  }

  21% {
    content: "A Graphic Designer.|";
  }

  22% {
    content: "A Graphic Designer|";
  }

  23% {
    content: "A Graphic Designe|";
  }

  24% {
    content: "A Graphic Design|";
  }

  25% {
    content: "A Graphic Desig|";
  }

  25% {
    content: "A Graphic Desi|";
  }

  26% {
    content: "A Graphic Des|";
  }

  27% {
    content: "A Graphic De|";
  }

  28% {
    content: "A Graphic D|";
  }

  29% {
    content: "A Graphic |";
  }

  30% {
    content: "A Graphic|";
  }

  31% {
    content: "A Graphi|";
  }

  32% {
    content: "A Graph|";
  }

  33% {
    content: "A Grap|";
  }

  34% {
    content: "A Gra|";
  }

  35% {
    content: "A Gr|";
  }

  36% {
    content: "A G|";
  }

  37% {
    content: "A |";
  }

  38% {
    content: "A P|";
  }

  39% {
    content: "A Ph|";
  }

  40% {
    content: "A Pho|";
  }

  41% {
    content: "A Phot|";
  }

  42% {
    content: "A Photo|";
  }

  43% {
    content: "A Photog|";
  }

  44% {
    content: "A Photogr|";
  }

  45% {
    content: "A Photogra|";
  }

  46% {
    content: "A Photograp|";
  }

  47% {
    content: "A Photograph|";
  }

  48% {
    content: "A Photographe|";
  }

  49% {
    content: "A Photographer|";
  }

  50% {
    content: "A Photographer.|";
  }

  51% {
    content: "A Photographer.|";
  }

  52% {
    content: "A Photographer.|";
  }

  53% {
    content: "A Photographer|";
  }

  54% {
    content: "A Photographe|";
  }

  55% {
    content: "A Photograph|";
  }

  56% {
    content: "A Photograp|";
  }

  57% {
    content: "A Photogra|";
  }

  58% {
    content: "A Photogr|";
  }

  59% {
    content: "A Photog|";
  }

  60% {
    content: "A Photo|";
  }

  61% {
    content: "A Phot|";
  }

  62% {
    content: "A Pho|";
  }

  63% {
    content: "A Ph|";
  }

  64% {
    content: "A P|";
  }

  65% {
    content: "A |";
  }

  66% {
    content: "A|";
  }

  67% {
    content: "|";
  }

  68% {
    content: "K|";
  }

  69% {
    content: "Ke|";
  }

  70% {
    content: "Ker|";
  }

  71% {
    content: "Kerr|";
  }

  72% {
    content: "Kerri|";
  }

  73% {
    content: "Kerri |";
  }

  74% {
    content: "Kerri D|";
  }

  75% {
    content: "Kerri De|";
  }

  76% {
    content: "Kerri Deo|";
  }

  77% {
    content: "Kerri Deo.|";
  }

  78% {
    content: "Kerri Deo.|";
  }

  79% {
    content: "Kerri Deo.|";
  }

  80% {
    content: "Kerri Deo|";
  }

  81% {
    content: "Kerri De|";
  }

  82% {
    content: "Kerri D|";
  }

  83% {
    content: "Kerri |";
  }

  84% {
    content: "Kerri|";
  }

  85% {
    content: "Kerr|";
  }

  86% {
    content: "Ker|";
  }

  87% {
    content: "Ke|";
  }

  88% {
    content: "K|";
  }

  89% {
    content: "|";
  }

  90% {
    content: "|";
  }

  91% {
    content: "|";
  }

  92% {
    content: "|";
  }

  93% {
    content: "|";
  }

  94% {
    content: "|";
  }

  95% {
    content: "|";
  }

  96% {
    content: "|";
  }

  97% {
    content: "|";
  }

  98% {
    content: "|";
  }

  99% {
    content: "|";
  }

  100% {
    content: "|";
  }

  /* Kerri Deo.| */
  /* A Graphic Designer.| */
  /* A Photographer.| */
}

/* *******About******* */
.icon-about {
  font-size: 25px !important;
}
.about {
  background-color: #f8f9fa;
}

/* *******services******* */

.section-head {
  line-height: 30px;
}

.info-services {
  border: 2px solid #e8e8e8;
}
.line-services {
  height: 2px;
  width: 45px;
  background-color: #e65f78;
  margin: auto;
  margin-bottom: 10px;
  transition: all 0.3s;
}
.info-services:hover .line-services {
  width: 65px;
}

/*--------- clint-------- */
.carousel-item p {
  max-width: 700px;
}
#carouselExampleIndicators .carousel-indicators button {
  background-color: #e65f78 !important;
  border: 1px solid transparent !important ;
  border-radius: 20px !important;
  width: 20px;
  height: 7px;
}
#carouselExampleIndicators .carousel-indicators button.active {
  background-color: #e65f78 !important;
  border: 1px solid transparent !important ;
  border-radius: 20px !important;
  width: 25px;
  height: 7px;
}
.Client {
  background-color: #f8f9fa;
}

.work-item {
  transition: all 0.3s;
}
.work-item:hover .layer {
  opacity: 1 !important;
  cursor: pointer;
}
.layer {
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
}
.Blog {
  background-color: #f8f9fa;
}
